@model Persona

@{
    ViewData["Title"] = "Home Page";

}


<div class="text-center">
    <h1 class="display-4">ISI. Daniel Estrada (23)</h1>

    <h2>Soy desarrollador Full Stack especializado en .NET CORE y JS</h2>
    <img src="~/imagenes/daniel.jpeg" id="foto" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

